.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__body{
    display: flex;
    justify-content: space-evenly;
    max-width: 1300px;
    width: 100%;
}