.sidebarOption{
    display: flex;
    align-items: center;
    height: 33px;
    padding: 0 10px 0 25px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: white;
    transition: .3s all;
}

.sidebarOption__icon{
    width: 20px !important;
    height: 20px !important;
    margin-right: 5px;
    color: #eee !important;
}

.sidebarOption:hover{
    background-color: rgba(241, 243, 244, .24);
    color: white;
}

.sidebarOption:hover > h3,
.sidebarOption:hover > p {
    background-color: transparent;
}

.sidebarOption:hover > p{
    font-weight: 600 !important;
}

.sidebar--active,
.sidebar--active > h3,
.sidebar--active > p {
    background-color: rgba(241, 243, 244, .24);
    color: white;
    font-weight: 600 !important;
}

.sidebarOption > h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    transition: .1s all;
    background-color: transparent;
    color: #eee;
}

.sidebarOption > p {
    display: none;
    font-weight: 300;
    transition: .3s all;
    font-size: 13px;
    background-color: transparent;
    color: #eee;
}

.sidebarOption:hover > p {
    display: inline;
}

.sidebar--active > p{
    display: inline;
}