.sidebar{
    flex: 0.2;
}

.sidebar__compose{
    margin-top: 15px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    text-transform: capitalize !important;
    color: gray;
    padding: 15px 0 !important;
    width: 150px;
    height: 50px;
    border-radius: 30px !important;
    color: #3c4043 !important;
    background-color: white !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.sidebar__compose img{
    width: 30px;
    margin-right: 10px;
}

.sidebar__meet{
    border-top: 1px solid rgba(241, 243, 244, .24);
    margin-top: 5px;
}

.sidebar__meet h4, .sidebar__hangouts h4{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 7px;
    color: #fff;
}

.sidebar__hangouts{
    border-top: 1px solid rgba(241, 243, 244, .24);
    margin-top: 5px;
}

.hangouts__avatar{
    margin-left: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hangouts__avatar > span{
    margin-left: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    flex: 1;
    cursor: pointer;
}

.css-1o7mor2-MuiBadge-badge{
    background-color: #35ac19 !important;
}

.hangouts__addIcon{
    color: #fff;
    cursor: pointer;
}