.tools{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 1px solid rgba(241, 243, 244, .24);
    position: sticky;
    top: 0;
}

.tool__btn{
    margin-bottom: 20px !important;
}

.tool__icons{
    width: 22px;
}

.tool__addIcon{
    color: white !important;
}